<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Track Your Goal</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/create_plan.css') }}">
</head>
<body>
    <div class="container">
        <h2>Configure Your Skill Plan </h2>
        <form method="POST">
            <textarea name="plan_text" id="plan_text" rows="10" cols="50" placeholder="Paste your plan here..."></textarea>
            <br>
            <button type="submit">Submit Plan</button>
        </form>
    </div>
</body>
</html>
;