<!DOCTYPE html>
<html lang="en">
<head>
  {% from "showlinks.html" import showlinks %}
  {{showlinks()}}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
  <div class="container">
    <div class="content-box">
      <h2>Login</h2>
      <form method="post">
      <div class="input-group">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required>
      </div>
      <div class="input-group">
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
      </div>
      <div class="buttons">
        <button type="submit">Login</button>
      </div>
      </form>
    </div>
  </div>
</body>
</html>